*.log
*.pot
*.pyc
*~
__pycache__
local_settings.py
db.sqlite3
.DS_Store
pip-log.txt
pip-delete-this-directory.txt
/.idea/
/venv/
/app/static/favicon.png
/app/static/header.jpg
/app/static/logo.png
/media/
/static/
db.json