<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <title>dchat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="{% static 'pages.css' %}">
</head>

<body>

<div id="wrapper">
    <div id="content" style="background-color:{{ settings.page_color }};">
        <div id="chat_text"></div>
        <textarea id="message_text" rows="4" placeholder="Введите текст сообщения"></textarea>
        <input id="message_button" type="button" value="Отправить сообщение">
    </div>
</div>

<div id="modal_overlay"></div>

<div id="modal">
    <p>Авторизация</p>

    <label>Логин</label>
    <input id="auth_login" placeholder="Введите логин" required><br>

    <label>Пароль</label>
    <input id="auth_password" type="password" placeholder="Введите пароль" required><br>

    <input id="auth_button" type="button" value="Войти">
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

let auth_response_json;
let refresh_request_json;
let refresh_response_json;
let username;


auth_button.onclick = async function() {

    username = auth_login.value;

	let auth_json = {
		"username": auth_login.value,
		"password": auth_password.value
	};

	let auth_response = await fetch('/api/token/', {
		method: 'POST',
		headers: {'Content-Type': 'application/json;charset=utf-8'},
		body: JSON.stringify(auth_json),
	});

	if (auth_response.ok) {
		auth_response_json = await auth_response.json();
		refresh_request_json = {"refresh": auth_response_json.refresh};
		modal_overlay.classList.add('closed');
		modal.classList.add('closed');
	} else {
		alert("Ошибка HTTP: " + auth_response.status);
	}
}


message_button.onclick = async function() {

if (message_text.value.replace(/\s/g, '') != "") {

    let date_now = Date.now();

	let message_json = {
		"message": {
			"timestamp": date_now,
			"username": username,
			"body": message_text.value
		}
	};

	let response = await fetch('/api/messages/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json;charset=utf-8',
			Authorization: "Bearer " + auth_response_json.access
		},
		body: JSON.stringify(message_json)
	});
	message_text.value = "";
}
};


async function showMes() {

	if (document.getElementById('chat_text') && modal.classList.contains('closed')) {

		let mes_response = await fetch('/api/messages/', {
			method: 'GET',
			headers: {Authorization: "Bearer " + auth_response_json.access},
		});

		let data;
		let mes_time;
		let is_scrollTop;

		if (mes_response.ok) {
			data = await mes_response.json();

			if (chat_text.innerHTML == "") {
				is_scrollTop = true;
			} else if (chat_text.scrollTop > chat_text.scrollHeight - chat_text.clientHeight - 5) {
			    is_scrollTop = true;
			} else {
			    is_scrollTop = false;
			}

			chat_text.innerHTML = "";
			for (var i = 0; i < data.messages.length; i++) {
				mes = data.messages[i];
				let p_mes = document.createElement('p');
				mes_time = new Date(mes.timestamp);

				p_mes.innerHTML =
				    `<b style="font-family: Arial, Helvetica, sans-serif;">${mes.username}</b>:

				    <div class="message_container">${mes.body}</div>

				    <span style="font-size:60%;color:grey;">
			    	${mes_time.getDate()}.${mes_time.getMonth()+1}.${mes_time.getFullYear()}&nbsp;<b>${mes_time.getHours()+1}:${mes_time.getMinutes()}</b>
			    	</span>`;

				chat_text.appendChild(p_mes);
			}

			if (is_scrollTop) {
				chat_text.scrollTop = chat_text.scrollHeight;
			}

		} else {

			let refresh_response = await fetch('/api/token/refresh/', {
				method: 'POST',
				headers: {'Content-Type': 'application/json;charset=utf-8'},
				body: JSON.stringify(refresh_request_json),
			});

			if (refresh_response.ok) {
				refresh_response_json = await refresh_response.json();
				auth_response_json.access = refresh_response_json.access;
				showMes();
			} else {
				alert("Refresh failed!!! Ошибка HTTP: " + auth_response.status);
				modal_overlay.classList.remove('closed');
				modal.classList.remove('closed');
			}
		}
	}
};


showMes();
setInterval(() => showMes(), 3000);

});
</script>

</body>

</html>